* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blue: #004E7C;
  --red: #B73225;
  --green: #266150;
}

body {
  background: tan;
}
.btn {
  /*width: 100px;*/
  /*height: 30px;*/
  /*background: #4CAF50;*/
  /*color: #282c34;*/
}

